li a {
    background : url('downloads/damu.jpg') no-repeat;
    color:rgb(214, 13, 233);
}

body {

    background : url( 'images/mine1.JPG' ) no-repeat;
    background-size : 100%;

}


ul a {
    background :rgb(2, 74, 168);
}