li a {
    background : url('downloads/damu.jpg') no-repeat;
    color:rgb(235, 219, 236);
}

body {

    background : url( 'images/mine1.JPG' ) no-repeat;
    background-size : 100%;

}


ul a {
    background :rgb(2, 54, 122);
}